{% extends 'layout/base.html' %}

{% block content %}

    <div class="container">
        <div class="row mb-2">
            <button type="button" class="btn btn-outline-primary"><a href="{% url 'recipes:recipe_new' %}">New
                Recipe</a></button>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Recipe</th>
                    <th>Link</th>
                </tr>
                {% for item in recipe_list %}
                    <tr>
                        <td>
                            <div class="rList_image_container">
                                <img src="{{ item.thumb }}" class="rList_image_fit">
                            </div>
                        </td>
                        <td><a href="{% url 'recipes:detail' item.pk %}">{{ item.title }}</a></td>
                        <td><a href="{{ item.url }}" target="_blank">Go to the recipe!</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
